*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* <!-- header section --> */

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    height: 56px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header-left{
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}
.header-left a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
    
}
.header-left-p a{
   font-size: 10px;
   letter-spacing: 1.5px;
}
.header-left-p span{
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}
.header-left-p:hover{
    text-decoration: underline;
    color: white;
}
.header-center{
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}
.header-center-input{
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}
.fa-search{
    position: absolute;
    top: 30%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}
.header-right{
    width: 40%;
    font-size: 15px;
    display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  line-height: 50px;
}
.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}
.header-right .active{
    background-color: white;
    color: #2874f0;
    padding: 5px 30px;
    height: 35px;
    width: 130px;
    line-height: 23px;
    margin-top: 8px;
    border-radius: 2px;
    text-align: center;
}
.fa-shopping-cart{
    padding-right: 10px;
}
.fa-sort-down{
    padding-left: 5px;

}

/* <!-- category-section --> */


.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}
.category-col{
    padding: 10px 0px;
    cursor: pointer;
    color: rgb(85,83,83);
}

.category-col img{
    width: 64px;
    height: 64px;
}
.category-col h5:hover{
   color: #2874f0;
}


.card{
    box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 5px;
}

 .common-heading{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 5px 20px;
     margin-top: 20px;
     box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
 }
 .timer_div{
    display: flex;
    flex-direction: row;
    flex-grow: 8;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
   

}
.timer_div span{
    font-size: 16px;
    opacity: .6;
}
.timer_div img{
    width: 24px;
}
 .common-heading-left h1{
     font-size: 20px;
     font-weight: 400;
     padding:auto;
 }
 .common-heading-left h2{
     font-size: 15px;
     padding: 5px 0px;
     color: rgb(145,141,138) ;
     font-weight: 200;
 }
 
 .common-heading-right button{
     width: 70px;
     height: 40px;
     font-size: 12px;
     background-color: #2874f0;
     border: none;
     color: white;
     border-radius: 2px;
 }
 .common-row{
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     max-height: 366px;
     margin: 10px 0px;
 }
 .common-col{
     text-align: center;
     line-height: 22px;
 }
 .common-col img{
     width: 80px;
     height: 150px;
     transition: 300ms;
 }
 .common-col img:hover{
     transform: scale(0.9);
 }
 .common-col h3,h4,h6{
     text-transform: capitalize;
     letter-spacing: 1px;
     cursor: pointer;
 }
 .common-col h3{
     margin-top: 10px;
     font-size: 13px;
 }
 .common-col h4{
     color: green;
     font-size: 13px;
     font-weight: 300;
 }
 .common-col h6{
    color: rgb(161,161,161);
    font-size: 12px;
    font-weight: 100;
 }
 /* Side arrow styling */
.side-arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 24px 4px;
    border-radius: 4px 0 0 4px;
    background-color: white;
    box-shadow: 0 1px 8px #e6e6e6, -1px 0 8px #e6e6e6, 0 -1px 8px #e6e6e6;
    z-index: 1;
    cursor: pointer;
}
.side-arrow i{
    font-size: 24px;
}
.advertisment{
    width: 14%;
}
.advertisment img{
    width: 100%;
    height: 250px;
}

 /* <!-- trending offers section --> */
.col-tranding img{
    width: 69px;
    height: 140px;
}